// 数字输入框全局样式
.ant-input-number {
  width: 178px !important;
}

.link-text-container {
  display: flex;
  align-items: center;

  .link-text {
    margin-right: 8px;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #1890ff;
    text-decoration: underline;
  }
}